.header {
    background-color: rgb(13, 127, 117);
    border: 2px solid black;
    width: 400px;
    padding-left: 90px;
    border-radius: 15px;
    color: rgb(84, 8, 38);
    margin-left: 32%;
}

.b {
    width: 500px;
    height: 50px;
    margin-left: 45%;
}